attrs==21.4.0
djangorestframework==3.13.1
asgiref==3.5.2
drf-spectacular==0.22.1
Django==4.0.5
backports.zoneinfo==0.2.1
PyYAML==6.0
importlib-resources==5.7.1
jsonschema==4.6.0
uritemplate==4.1.1
pytz==2022.1
inflection==0.5.1
pyrsistent==0.18.1
sqlparse==0.4.2
zipp==3.8.0
django-cors-headers
tzdata==2022.1

