{% extends 'base.html' %}

{% block title %} UKLON {% endblock title %}

{% block content %}
    <p>All tables on one page</p>
    <div class="modal fade"></div>
    <div class="modal-body">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" value="save">save</button>
        </form>
    </div>
    <div class="modal-body">
        <form method="post">
            {% csrf_token %}
            <a class="btn btn-primary" href="/import_all">import csv</a>
        </form>
    </div>
    <div class="mt-3">
        {% if object_list %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">password</th>
                    <th scope="col">email</th>
                    <th scope="col">register_date</th>
                    <th scope="col">details</th>
                    <th scope="col">delete</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.register_date }}</td>
                        <td>
                            <button class="btn btn-info">select</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">delete</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">user</th>
                    <th scope="col">name</th>
                    <th scope="col">phone_number</th>
                    <th scope="col">card_info</th>
                    <th scope="col">details</th>
                    <th scope="col">delete</th>
                </tr>
                </thead>
                <tbody>
                {% for pax in pax %}
                    <tr>
                        <td>{{ pax.pk }}</td>
                        <td>{{ pax.user.pk }}</td>
                        <td>{{ pax.name }}</td>
                        <td>{{ pax.phone_number }}</td>
                        <td>{{ pax.card_info }}</td>
                        <td>
                            <button class="btn btn-info">select</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">delete</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">user</th>
                    <th scope="col">name</th>
                    <th scope="col">car_name</th>
                    <th scope="col">rating</th>
                    <th scope="col">phone_number</th>
                    <th scope="col">card_info</th>
                    <th scope="col">details</th>
                    <th scope="col">delete</th>
                </tr>
                </thead>
                <tbody>
                {% for driver in driver %}
                    <tr>
                        <td>{{ driver.pk }}</td>
                        <td>{{ driver.user.pk }}</td>
                        <td>{{ driver.name }}</td>
                        <td>{{ driver.car_name }}</td>
                        <td>{{ driver.rating }}</td>
                        <td>{{ driver.phone_number }}</td>
                        <td>{{ driver.card_info }}</td>
                        <td>
                            <button class="btn btn-info">select</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">delete</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">driver_id</th>
                    <th scope="col">pax_id</th>
                    <th scope="col">payment_method</th>
                    <th scope="col">stars</th>
                    <th scope="col">details</th>
                    <th scope="col">delete</th>
                </tr>
                </thead>
                <tbody>
                {% for ride in ride %}
                    <tr>
                        <td>{{ ride.pk }}</td>
                        <td>{{ ride.driver.pk }}</td>
                        <td>{{ ride.pax.pk }}</td>
                        <td>{{ ride.payment_method }}</td>
                        <td>{{ ride.stars }}</td>
                        <td>
                            <button class="btn btn-info">select</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">delete</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            no entities
        {% endif %}
    </div>
{% endblock content %}